@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    TestMate Developer portal is a web-based portal created to facilitate the process of Developers/Testers to trigger a test execution run on specific device capabilities. It also allows developers/testers to configure a set of context-parameters which they attempt to run the tests under to investigate the application under test behaviour under different conditions.

    Created by Lydin Camilleri (<a>lydincamilleri@gmail.com</a>) as part of the M.Sc in Computing Science degree
</p>
