@model TestMate.Common.DataTransferObjects.TestRequests.TestRequestWebCreateDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create a New Test Request</h1>

<h4>Test Request Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label for="TestSolution">Test Solution Package:</label><br />
                <input type="file" name="TestSolution" id="TestSolution" /><br />
                <span asp-validation-for="TestSolution"></span><br />
            </div>
            <br>
            <div>
                <label for="ApplicationUnderTest">Application Under Test:</label><br />
                <input type="file" name="ApplicationUnderTest" id="ApplicationUnderTest" /><br />
                <span asp-validation-for="ApplicationUnderTest"></span><br />
            </div>
            <br>
            <div class="form-group">
                <label asp-for="SolutionExecutable" class="control-label"></label>
                <input asp-for="SolutionExecutable" class="form-control" />
                <span asp-validation-for="SolutionExecutable" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="DesiredDeviceProperties" class="control-label"></label>
                <input asp-for="DesiredDeviceProperties" class="form-control" />
                <span asp-validation-for="DesiredDeviceProperties" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="ContextConfiguration" class="control-label"></label>
                <input asp-for="ContextConfiguration" class="form-control" />
                <span asp-validation-for="ContextConfiguration" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn-primary">Submit</button>
        </form>

    </div>
</div>

<div>
    <a asp-action="TestRequests">Back to List</a>
</div>

@if (@TempData["Success"] != null)
{
    <div class="alert-success form-style">
        <p>@TempData["Success"]</p>
    </div>
}
@if (@TempData["Error"] != null)
{
    <div class="error-message form-style">
        <p>@TempData["Error"]</p>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
