@model string

@if (string.IsNullOrEmpty(Model))
{
    <h2>HTML Report could not be found :(</h2>
}
else
{
    <h4>HTML Test Run Basic Report</h4>
    <iframe srcdoc="@Model" style="width: 100%; height: 500px;"></iframe>
}